/* Estilos Gerais */
input[type='checkbox']{
display: none;
}
.steamColors  {
    background-color: #2c425c;
    color: #1BAEDF;
    transition: .5s;
}
.steamColors *{
    color: #1BAEDF;
}
.steamColors #epic-white{
display: none;
}
.steamColors #epic-blue{
    display: block;
  
    }
#epic-blue{
    display: none;
}

.steamColors .btn{
    color: #1BAEDF;
}
.steamColors .secondary-color{
    color: #1BAEDF;
}
.steamColors .primary-color{
    color: #1BAEDF;
}
.steamColors #navbar a{
    color: #1BAEDF;
}
body {
    background-color: #121212;
    color: #F5F5F5;
}
*,a{
    color: #F5F5F5;
}


.icones{
    margin: 0px 50px;
       
}
.icones i{
font-size: 3em;
cursor: pointer;
}
.epic-logo{
    cursor: pointer;
    vertical-align: baseline;
    width: 3.6em;
}

#border-left{
    border-left: 2px solid #fff;
    padding-left: 2em;
    
}
#border-right{
    border-right: 2px solid #fff;
    padding-right: 2em;
    
}
 .btn{
    color: #F5F5F5;
}

.primary-color{
  
    font-size: 1.2em;
    text-align: justify;
}



a, i {
    transition: .5s;
    text-decoration: none;
}

.center-image{
    background-size: cover;
    background-position: center;
}

.btn{
    text-decoration: none;
    background-color: #25282e;
    color: #fff;
    border-radius: 0;
}

.btn:hover{
    background-color: #333;
}

/* Header */

#header{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
   
   
    
}

#header p {
    margin-bottom: 0;    
}

#logo-container{
    display: flex;
    justify-content: center;
}
#logo-container i{
    font-size: 35px;
}
#logo{
    width: 40px;
    

}



/* Navbar */
#navbar {
    display: flex;
    
    justify-content:center;
    align-items: center;
  
}
#navbar ul{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    list-style: none;
}

#navbar a{
    width: 100%;
    margin: 10px;
    
}

#navbar a:hover{
    color:#C1b696;
}

/* Imagem Principal */

.imagem-principal{
    height: 450px;
    background-image: url("../img/imagem1.jpg");
    margin-bottom: 30px;
    position: relative;
}

/* Galeria */

#lanc1{
    background-image: url(../img/imagem2.jpg);
    background-size: cover;
}
#lanc2{
    background-image: url(../img/imagem3.jpg);
}
#lanc3{
    background-image: url(../img/imagem4.jpg);
}
#lanc4{
    background-image: url(../img/imagem5.gif);
}
#lanc5{
    background-image: url(../img/imagem6.jpg);
}
#lanc6{
    background-image: url(../img/imagem7.webp);
}

#galeria-container h1{
    text-align: center;
}

#galeria-container h1,
#galeria-container .col-md-6,
#galeria-container .col-12 {
margin-bottom: 50px;
}

.imagens-menores-container {
    height: 250px;
    margin-bottom: 20px;
}

/* Footer */

footer{
    border-top: 1px solid #ccc;
    height: 250px;
    padding: 30px;
}

footer i{
    font-size: 20px;
}

footer p{
    text-align: center;
    margin: 20px;
}

#social-icons-container{
    padding: 25px;
}

#social-icons-container div{
    text-align: center;
}

a:hover i{
    color: #C1b696
}

@media screen and (max-width:950px){
    #navbar ul{
        flex-wrap: wrap;
    }
}